.addPost-container {
    width: 80%;
    margin: 0 auto;
}

.addPost-title {
    font-size: 50px;
    font-weight: 500;
}

.addPost-form {
    display: flex;
    flex-direction: column;
}

.addPost-input {
    width: 30%;
    border: none;
    border-bottom: 1px solid rgb(112, 112, 112);
    font-size: 18px;
    color: rgb(112, 112, 112)
}

.addPost-input:focus {
    outline: none;
}

.addPost-title-input {
    margin-bottom: 36px;
}

.addPost-par {
    font-size: 24px;
    font-weight: 600;
}

.addPost-content-input {
    width: 60%;
    height: 5rem;
    border: 4px dashed rgb(173, 173, 173);
    font-size: 18px;
}

.addPost-content-input:focus {
    outline: none;
}

.addPost-button {
    border: 1px solid rgb(46, 196, 255);
    padding: 8px;
    background-color: #fff;
    margin-top: 20px;
    width: 6rem;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(46, 196, 255);
    cursor: pointer;
    transition: all .3s ease-in-out;

}

.addPost-button:hover {
    -webkit-box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.5);
}