.contact-container {
    width: 80%;
    margin: 0 auto;
}

.contact-title {
    font-size: 50px;
    font-weight: 500;
}

.contact-par1 {
    font-weight: 600;
    font-size: 18px;
    color: rgb(112, 112, 112);
}