.nav-container {
    width: 80%;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-link-item {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin: 10px 30px;
    font-size: 20px;
}